{% extends "urlchecker/base.html" %}

{% load i18n %}

{% block title %}- Urls{% endblock %}

{% block content %}
    <h1>Urls</h1>
    {% if urls %}
    <table class="table">
        <thead>
            <tr>
                <th>Url</th>
                <th>Health Check</th>
                <th>Status Code</th>
                <th>When</th>
            </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <td><a title="{{ url }}" href="{% url "healthcheck_detail_url" url.id %}">{{ url }}</a></td>
                <td>
                    {% if url.last_check.status %}
                    <span class="label label-success">{% trans "Working" %}</span>
                    {% else %}
                    <span class="label label-warning">{% trans "Warning" %}</span>
                    {% endif %}
                </td>
                <td>{{ url.last_check.status_code }}</td>
                <td>{{ url.last_check.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-danger">
        {% trans "No URLs in database." %}
    </div>
    {% endif %}
{% endblock %}
